.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    z-index: 2;
}